.App {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  position: absolute;

  text-align: center;
}

.App-header {
  color: white;
  grid-area: 1 / 1 / 6 / 6;
  background-color: rgb(112, 224, 255);
}

.Player {
  width: 64px;
  height: 64px;
  position: absolute;
  clear: left;
  left: 0; /* x-axis */
  top: 0; /* y-axis */

  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4e65425-1eb0-43fb-9d74-6c3bc93ed383/dcaeqy1-614416a8-3ae1-4448-94b4-e3ecefa3e53a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYjRlNjU0MjUtMWViMC00M2ZiLTlkNzQtNmMzYmM5M2VkMzgzXC9kY2FlcXkxLTYxNDQxNmE4LTNhZTEtNDQ0OC05NGI0LWUzZWNlZmEzZTUzYS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.2SjLQZRX95fG0IYQ464Xr1gG9kDdtU6sgC8WJnop2A4");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 0px;
}
.Player:focus {
  outline: none;
}

.Ground {
  width: 100%;
  height: 200px;
  position: absolute;
  clear: left;
  left: 0; /* x-axis */
  bottom: 0; /* y-axis */

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.Ground:focus {
  outline: none;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color: darkolivegreen;
}
.div2 {
  grid-area: 2 / 1 / 6 / 6;
  background-color: peru;
}
